@media screen and (min-width: 720px) {
  .ListItem {
    width: 100%;
  }
  .List {
    display: flex;
    flex-direction: column;
  }
}

.ListItem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.List {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
}
